<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <title>Групповые</title>
</head>
<body>
<p>
    <button><a href="titova">Назад</a></button>
</p>
<p>
<table border="1" width="100%" cellpadding="5">
    <tr>
        <th></th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
    </tr>
    {% for amazon in amazons %}
    <tr>
        <th><input type="text" size="25" value="{{amazon.ward_id.ward}}"></th>
        <th>
            <form action="/amazons/plus" id="form_1" method="post">{% csrf_token %}
                <input type="hidden" value="{{amazon.id}}" id="amazon_id" name="amazon_id">
                <input type="hidden" value="{{month.id}}" id="month_id" name="month_id">
                <input type="submit" name="submit" value="+" {% if amazon.month_1 is True %}style="display='none';"{% endif %}>
            </form>
        </th>
        <th>
            <form action="/amazons/plus" id="form_2" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
        <th>
            <form action="/amazons/plus" id="form_3" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
        <th>
            <form action="/amazons/plus" id="form_4" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
    </tr>
    {% endfor %}
    <tr>
        <th>
            <form action="/amazons" id="form_name" method="post">
                <input type="text" name="name" id="name">
                <input type="submit" name="submit" id="submit" value="Add">
            </form>
        </th>
    </tr>
</table>

</body>
</html>