<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <title>Групповые</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<p>
    <button><a href="titova">Назад</a></button>
</p>
<p>
<table border="1" width="100%" cellpadding="5">
    <tr>
        <th></th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
    </tr>
    {% for amazon in amazons %}
    <tr>
        <th><input type="text" size="25" value="{{amazon.ward_id.ward}}"></th>
        <th>
            <form action="/amazons/plus" id="form_1" method="post">{% csrf_token %}
                <input type="hidden" value="{{amazon.id}}" id="amazon_id" name="amazon_id">
                <input type="hidden" value="{{month.id}}" id="month_id" name="month_id">
                <input type="submit" name="submit" value="+" {% if amazon.month_1 is True %}style="display='none';"
                       {% endif %}>
            </form>
        </th>
        <th>
            <form action="/amazons/plus" id="form_2" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
        <th>
            <form action="/amazons/plus" id="form_3" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
        <th>
            <form action="/amazons/plus" id="form_4" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
    </tr>
    {% endfor %}
    <tr>
        <th>
            <form action="/amazons" id="form_name" method="post">
                <input type="text" name="name" id="name">
                <input type="submit" name="submit" id="submit" value="Add">
            </form>
        </th>
    </tr>
</table>

</body>
</html>