<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <title>Групповые</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<p>
    <button><a href="titova">Назад</a></button>
</p>
<p>
<table border="1" width="100%" cellpadding="5">
    <tr>
        <th></th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
    </tr>
    {% for amazon in amazons %}
    <tr>
        <td><input type="text" size="25" value="{{amazon.ward_id.ward}}"></td>
        <form action="/amazons/plus" id="form_1" method="post">{% csrf_token %}
            <td>
                <!--            <form action="/amazons/plus" id="form_1" method="post">{% csrf_token %}-->
                <!--                <input type="hidden" value="{{amazon.id}}" id="amazon_id" name="amazon_id">-->
                <!--                <input type="hidden" value="{{month.id}}" id="month_id" name="month_id">-->
                <!--                <input type="submit" name="submit" value="+">-->
                <!--            </form>-->

                <div class="form-check">
<!--                    <input class="form-check-input" type="checkbox" value="" id="Check1">{% csrf_token %}-->
<!--                    <input type="checkbox" value="{{amazon.id}}" id="amazon_id" name="amazon_id">{% csrf_token %}-->
<!--                    <input type="hidden" value="{{amazon.id}}" id="amazon_id" name="amazon_id">-->
<!--                    <input type="hidden" value="{{month.id}}" id="month_id" name="month_id">-->
                    <input type="checkbox" value="{{month.id}}" id="month_id" name="month_id">
                    <input type="submit" value="Save">
                </div>
            </td>
            <td>
                <div class="form-check">
<!--                    <input class="form-check-input" type="checkbox" value="" id="Check2">{% csrf_token %}-->
                    <input type="checkbox" value="{{month.id}}" id="month_id" name="month_id">
                    <input type="submit" value="Save">
                </div>
            </td>
            <td>
                <div class="form-check">
<!--                    <input class="form-check-input" type="checkbox" value="{{month}}" id="Check3">-->
                    <input type="checkbox" value="{{month.id}}" id="month_id" name="month_id">
                    <input type="submit" value="Save">
                </div>
            </td>
            <td>
                <div class="form-check">
<!--                    <input class="form-check-input" type="checkbox" value="{{month}}" id="Check4">-->
                    <input type="checkbox" value="{{month.id}}" id="month_id" name="month_id">
                    <input type="submit" value="Save">
                </div>
            </td>
        </form>
    </tr>
    {% endfor %}
    <tr>
        <td>
            <form action="/amazons" id="form_name" method="post">
                <input type="text" name="name" id="name">
                <input type="submit" name="submit" id="submit" value="Add">
            </form>
        </td>
    </tr>
</table>

</body>
</html>