<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <title>Спортсмены</title>
</head>
<body>
<p>
    <button><a href="titova">Назад</a></button>
</p>
<p>
<table border="1" width="100%" cellpadding="5">
    <tr>
        <th></th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
    </tr>
    {% for athlete in athletes %}
    <tr>
        <th><input type="text" size="30" value="{{athlete.ward_id.ward}}"></th>
        <th>
            <form action="athletes/plus" id="form_1" method="post">{% csrf_token %}
                <input type="hidden" value="{{athletes.id}}" id="athletes_id" name="athletes_id">
                <input type="submit" name="submit" value="+" onclick="this.style.display='none';">
            </form>
        </th>
        <th>
            <form action="athletes/plus" id="form_2" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
        <th>
            <form action="athletes/plus" id="form_3" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
        <th>
            <form action="athletes/plus" id="form_4" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
    </tr>
    {% endfor %}
    <tr>
        <th>
            <form action="/athletes" id="form_name" method="post">
                <input type="text" name="name" id="name">
                <input type="submit" name="submit" id="submit" value="Add">
            </form>
        </th>
    </tr>

</p>
</body>
</html>