{% load static %}
<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <title>Персональные</title>
</head>
<body>
<script type="text/javascript" src='{% static "main.js" %}'></script>
<p>
    <button><a href="titova">Назад</a></button>
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Name" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</p>
<p>
    <b>День</b>
    <input type="datetime" name="created">
</p>
<p>
<table border="1" cellspacing="0" cellpadding="2" height="100">
    <tr>
        <th></th>
        <th>Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th>Сб</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td><input type="text" size="25" value="{{customer.ward_id.ward}}"></td>
        <form action="/customers/plus" id="form_1" method="post">{% csrf_token %}
            <td>
                <input type="hidden" value="{{customers.id}}" id="customers_id" name="customers_id">

                <div class="form-check">
                    <input type="checkbox" class="action-check" value="{{day.id}}" id="day_id1" name="day_id">
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="action-check" value="{{day.id}}" id="day_id2" name="day_id">
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="action-check" value="{{day.id}}" id="day_id3" name="day_id">
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="action-check" value="{{day.id}}" id="day_id4" name="day_id">
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="action-check" value="{{day.id}}" id="day_id5" name="day_id">
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="action-check" value="{{day.id}}" id="day_id6" name="day_id">
                </div>
            </td>
        </form>
    </tr>
    {% endfor %}
    <tr>
        <td>
            <form action="{% url 'customers-new' %}" id="form_name" method="post">{% csrf_token %}
                <input type="text" name="name" id="name">
                <input type="submit" class="sub" name="submit" id="submit" value="Add">
            </form>
        </td>
    </tr>
</p>

</body>
</html>
