<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <title>Персональные</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<p>
    <button><a href="titova">Назад</a></button>
</p>
<p>
    <b>День</b>
    <input type="datetime" name="created">
</p>
<p>
<table border="1" width="100%" cellpadding="5">
    <tr>
        <th></th>
        <th>Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th>Сб</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <th><input type="text" size="25" value="{{customer.ward_id.ward}}"></th>
        <th>
            <form action="/customers/plus" id="Form" method="post">{% csrf_token %}
                <input type="hidden" value="{{customers.id}}" id="customers_id" name="customers_id">
                <input type="submit" name="submit" value="+" onclick="this.style.display='none';">
            </form>
        </th>
        <th>
            <form action="/customers/plus" id="Form_1" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
        <th>
            <form action="/customers/plus" id="Form_2" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
        <th>
            <form action="/customers/plus" id="Form_3" method="post">
                <input type="submit" name="submit"  value="+">
            </form>
        </th>
        <th>
            <form action="/customers/plus" id="Form_4" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
        <th>
            <form action="/customers/plus" id="Form_5" method="post">
                <input type="submit" name="submit" value="+">
            </form>
        </th>
    </tr>
    {% endfor %}
    <tr>
        <th>
            <form action="/customers" id="form_name" method="post">
                <input type="text" name="name" id="name">
                <input type="submit" name="submit" id="submit" value="Add">
            </form>
        </th>
    </tr>
</p>

</body>
</html>
